.content
{
    height: 100%;  
    padding-bottom: 90px;
}
.hd {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5px;
    margin-right: 12px;
}
.hddiv { 
  
       
   margin:5px 5px 5px 5px;       
          
}
.hddiv:hover{
    text-decoration: underline;


}
.item:hover{
    color: black;
}
.mid {
    display: flex;
    justify-content: center;

    margin-top: 150px;
    height:200 ;
        
}
.im {
    
    width: 480px ;
    border:  none;
    height: 38px;
    outline: none;
    }
.inputer{
    box-shadow: 0 2px 1px 1px rgba(71, 58, 58, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
   
    justify-content: center;
    align-items: center;
   
    width:600px;
    margin:auto;
    margin-top:35px;
    height:40px ;
    border-radius: 20px;
}
    
  .ico{
      padding: 12px;
  }
  .serico{
      color: blue;
  }
   .btn{

    margin-top:28px;
    height:120px ;
    display: flex;
    justify-content: center;
    color: #757575;
    flex: 1 0 auto;
   
   
   }
   .stbtn {
    background-color: #f2f2f2 !important;
    border: 1px solid #f2f2f2 !important;
    height: 36px !important;
    line-height: 27px !important;
    padding: 0 16px!important;
    text-align: center !important;
    cursor: pointer !important;
    margin: 7px !important;
    color: #757575 !important; 
    font-weight: bold !important; 
    font-family: arial,sans-serif !important; 
    font-size: 14px !important;
    font-weight: 300 !important;
    text-transform: none !important;
   
    

   }
   .stbtn:hover{
       color: black;
       border: 1px solid darkgrey;
   }
   a{
       color: darkgrey;
       text-decoration: none;

   }
   .footer
   {
    position: fixed;
    left: 0; bottom: 0; 
    flex: 0 0 auto;
    
    align-self: flex-end;
    left: 0; bottom: 0; 
    width: 100%;
    text-align: left;
    color: rgba(0,0,0,.54);
    padding-left: 27px;
    background: #f2f2f2;
    font-family: arial,sans-serif;   
    margin-top: -80px;
   }

   body{
       display:flex;
       flex-direction: column;
       
       margin: 0;
       padding: 0;
       

       
   }
   .end{
       display: flex;
       justify-content: center;
       border-color: rgb(59, 40, 40);
       padding-bottom: 7px;
       border-top: 1px solid #e4e4e4;
       font-size: 14px;
       color:#222222;
   }

   .ftrmenu{
      margin-right: 7px;
      margin-bottom: 3px;      

   }
   .ftrmenu:hover{
       text-decoration: underline;

   }
   .empty{
       flex-grow:1;

   }
   .sgn{
       background-color: #4285f4 !important;
       padding: 7px 12px !important;
       border-radius: 6% !important;
       color:white !important;
       font-family: arial,sans-serif !important;
       font-weight: bold !important;
       text-transform: capitalize !important;
       
   }
   