<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wyniki</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
 
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <link rel="stylesheet" href="css.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
        <script src="animals.js"></script>
        <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <div class="hed2">
        <div class="logo2"></div>
        <div class="imp2 main">
            
        <div class="inputer imputer2">
            <i class="fas fa-search" style="color: blue; cursor: pointer"></i>
            <input v-model="inputContent"/>
            <span class="access_icons">
                <i class="fas fa-keyboard"></i>
                <i class="fas fa-microphone" style="color: blue"></i>
    </div>

            
<v-autocompleter v-bind:input="inputContent" v-if="inputContent"></v-autocompleter>
</div>
<br> 
    <div class="hd2">
        <div class="hd">         
        <a class="hddiv item" href="#"><i class="fa fa-th" aria-hidden="true"></i></a>
        <a class="hddiv sgn mdc-ripple-surface animat" href="#">Zaloguj się</a>
        </div>
    </div>
</div>

<div class="resulcontent">
        
    <nav>
                <a  href="wyniki.html">Wszystko</a>
                <a class="blue_href" href="grafika.html">Grafika</a>
                <a href="#">Filmy</a>
                <a href="#">Zakupy</a>
                <a href="#">Wiadomości</a>
                <a href="#">Więcej</a>
                <a href="#">Ustawienia</a>
                <a href="#">Narzędzia</a>
        </nav>
    <div class="num">
            Około 242 000 000 wyników (0,35 s) 
    </div>
    </div>
    <div class="resullinki">
            <div class="temat">
                   <a href="#"> Moduł WiFi ESP8266 + NodeMCU v3 - Sklep dla robotyków - Botland</a> 
            </div>
            <div class="linki_green">
                    <a href="#">  https://www.x-kom.pl x-kom  Telefony i GPS  Akcesoria do dronów</a> 
            </div>
            <div class="opis">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore veniam adipisci, tempore incidunt, quidem iure dolorem mollitia qui dicta minus sunt. Ipsa itaque, consequuntur maiores minus quis dolores delectus voluptatem!
            </div>
        </div>
        <div class="resullinki">
                <div class="temat">
                       <a href="#"> Lorem ipsum dolor sit amet consectetur adipisicing elit.</a> 
                </div>
                <div class="linki_green">
                        <a href="#">  https://www.x-kom.pl x-kom  Telefony i GPS  Akcesoria do dronów</a> 
                </div>
                <div class="opis">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae perferendis ab laudantium dolores perspiciatis quos eveniet enim, officia qui obcaecati officiis quisquam natus necessitatibus debitis ut reprehenderit rerum atque harum.
                </div>
            </div>
            <div class="resullinki">
                    <div class="temat">
                           <a href="#"> Moduł WiFi ESP8266 + NodeMCU v3 - Sklep dla robotyków - Botland</a> 
                    </div>
                    <div class="linki_green">
                            <a href="#">  https://www.x-kom.pl x-kom  Telefony i GPS  Akcesoria do dronów</a> 
                    </div>
                    <div class="opis">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae perferendis ab laudantium dolores perspiciatis quos eveniet enim, officia q
                    </div>
                </div>
                <div class="resullinki">
                        <div class="temat">
                               <a href="#"> Lorem ipsum dolor sit amet consectetur adipisicing elit.</a> 
                        </div>
                        <div class="linki_green">
                                <a href="#">  https://www.x-kom.pl x-kom  Telefony i GPS  Akcesoria do dronów</a> 
                        </div>
                        <div class="opis">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae perferendis ab laudantium dolores perspiciatis quos eveniet enim, officia qui obcaecati officiis quisquam natus necessitatibus debitis ut reprehenderit rerum atque harum.
                        </div>
                    </div>
    </div>

    <script src="js.js"></script>
    <script>
            const elements = document.querySelectorAll('.animat');
            for (const element of elements) {
                mdc.ripple.MDCRipple.attachTo(element);
            }
     </script>


<style>
    .autocomplete-results{  

margin: 0;
left: 50px;
    }
</style>
</body>
</html>