<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wyniki</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"> 
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <link rel="stylesheet" href="css.css">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

</head>
<body>
        <script src="animals.js"></script>
        <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <div class="hed2">
        <div class="logo2"></div>
        <span> </span>
        <div class="imp2 main">
            
        <div class="inputer imputer2">
            <i class="fas fa-search" style="color: blue; cursor: pointer"></i>
            <input v-model="inputContent"/>
            <span class="access_icons">
                <i class="fas fa-keyboard"></i>
                <i class="fas fa-microphone" style="color: blue"></i>
    </div>

            
<v-autocompleter v-bind:input="inputContent" v-if="inputContent"></v-autocompleter>
</div>
<br> 
<div class="emptydiv"></div>
    <div class="hd2">
        <div class="hd">         
        <a class="hddiv item" href="#"><i class="fa fa-th" aria-hidden="true"></i></a>
        <a class="hddiv sgn mdc-ripple-surface animat" href="#">Zaloguj się</a>
        </div>
    </div>
</div>
 
<div id="app">
                <hr>        
<div  class="resulcontent">
        
    <nav>
        <router-link to="/Wszystko">Wszystko</router-link>
        <router-link to="/Grafika">Grafika</router-link>
        <router-link to="/Filmy">Filmy</router-link>
        <router-link to="/Zakupy">Zakupy</router-link>
        <router-link to="/Wiadomości">Wiadomości</router-link>
        <router-link to="/Więcej">Więcej</router-link>
        <router-link to="/Ustawienia">Ustawienia</router-link>
        <router-link to="/Narzędzia">Narzędzia</router-link>
          
        </nav>
        
    <div class="num">
                 
            Około 242 000 000 wyników (0,35 s) 
    </div>
   
    </div>
    <router-view></router-view> 
   
   
   
   
   
   
 </div>


</div>
    <script src="js.js"></script>
    <script src="js1.js"></script>
    
    <script>
            const elements = document.querySelectorAll('.animat');
            for (const element of elements) {
                mdc.ripple.MDCRipple.attachTo(element);
            }
     </script>


<style>
    .autocomplete-results{  
        margin: 0;
    }
</style>
</body>
</html>